{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{% block title %}{{ config.title }}{% endblock %}</title>

    <link rel="stylesheet" href="{{ get_url(path='/styles.css', cachebust=true) | safe }}" />

    {% if config.generate_feed %}
    <link rel="alternate" type="application/rss+xml" title="{{ config.title }} Feed" href="{{ get_url(path='rss.xml') }}">
    {% endif %}

    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="{{ config.title }}"/>
    <meta property="og:url" content="{{ config.base_url | safe }}"/>
    <meta property="og:image" content="{{ get_url(path='/logo.png', cachebust=true) | safe }}"/>
    <meta property="twitter:site" content="@codewars"/>
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:image" content="{{ get_url(path='/logo.png', cachebust=true) | safe }}"/>
    {% block metadata %}
        {% if section %}
            {% if section.title %}
            <meta property="og:title" content="{{ section.title }}"/>
            {% endif %}
            {% if section.description %}
            <meta property="description" content="{{ section.description }}"/>
            <meta property="og:description" content="{{ section.description }}"/>
            {% endif %}
        {% elif page %}
            {% if page.title %}
            <meta property="og:title" content="{{ page.title }}"/>
            {% endif %}
            {% if page.description %}
            <meta property="description" content="{{ page.description }}"/>
            <meta property="og:description" content="{{ page.description }}"/>
            {% endif %}
        {% endif %}
    {% endblock metadata %}

    <script>
    (() => {
      const setDark = (dark) => {
        document.documentElement.classList.toggle("dark", dark);
        localStorage.setItem("dark", dark + "");
      };
      const stored = localStorage.getItem("dark");
      if (stored !== null) setDark(stored === "true");
      else if (window.matchMedia) setDark(window.matchMedia("(prefers-color-scheme: dark)").matches);

      document.addEventListener("DOMContentLoaded", () => {
        document.querySelector('.theme-toggle').addEventListener('click', () => { setDark(!document.documentElement.classList.contains('dark')); });
      });
    })();
    </script>

    {% block extra_head %}{% endblock %}
</head>

<body class="text-gray-700 dark:text-gray-300 bg-gray-50 dark:bg-gray-900">
    {{ macros::header() }}

    <div class="mx-auto px-6 w-full sm:max-w-screen-sm md:max-w-screen-md">
        <div>
            {% block content %}{% endblock %}
        </div>

        {% if paginator %}
        {{ macros::pagination(paginator=paginator) }}
        {% endif %}
    </div>

    {{ macros::footer() }}
</body>
</html>
